apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: myreplicaset
  labels:
    app: hdfcapp
    tier: p1
    env: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: Frontend
      tier: p1
      env: dev
  template:
    metadata:
      labels:
        app: Frontend
        tier: p1
        env: dev
    spec:
      containers:
      - name: nginx
        image: nginx:latest
